<link rel="stylesheet" href="/css/projectDetails.css" />
<section id="page_header">
  <button
    id="add_btn"
    type="button"
    class="btn"
    data-bs-toggle="modal"
    data-bs-target="#addModal"
  >
    <i
      class="fa-solid fa-plus fa-bounce fa-lg"
      style="color: #cf3075; background: transparent"
    ></i>
    Add Issue
  </button>

  <!-- Modal -->
  <div class="modal fade" id="addModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Issue</h5>
          <button
            type="button"
            class="btn"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            X
          </button>
        </div>
        <form
          action="/issues/create/<%= project_details._id%>"
          method="post"
          id="add-issue-form"
          style="background: transparent; margin: 0"
        >
          <div class="modal-body">
            <input
              type="text"
              class="input-style"
              placeholder="Enter Issue Title...."
              name="issue_name"
              required
            />
            <textarea
              name="description"
              cols="30"
              rows="3"
              class="input-style"
              placeholder="Type Here...."
              required
            ></textarea>
            <select
              class="selectpicker input-style"
              multiple
              data-live-search="true"
              aria-label="size 3 select example"
              name="labels"
            >
              <option value="Subtask">Subtask</option>
              <option value="Bug">Bug</option>
              <option value="Incident">Incident</option>
              <option value="Problem">Problem</option>
              <option value="Support">Support</option>
            </select>
            <input
              type="text"
              class="input-style"
              placeholder="Write Author Name..."
              name="author_name"
              required
            />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn close-btn" data-bs-dismiss="modal">
              Close
            </button>
            <button type="submit" class="btn save-btn">Add Issue</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section id="project_delails">
  <div id="details_card">
    <h1><%= project_details.name%></h1>
    <p><%= project_details.description%></p>
    <b>Created By: <%= project_details.author%></b>
  </div>
  <div id="list_header">
    <form action="/projects/details/<%= project_details._id%>" method="get">
      <div class="select_contener">
        <label for="search">Type Title/Description</label>
        <input
          type="text"
          placeholder="Type..."
          id="author"
          class="selectpicker"
          name="search_input"
        />
      </div>
      <div class="select_contener">
        <label for="author">Select Author</label>
        <select
          class="selectpicker"
          multiple
          data-live-search="true"
          aria-label="size 3 select example"
          name="authors[]"
        >
          <% let authors = project_details.issues.map(a => a.author);%>
          <%for(author of authors){%>
          <option value="<%=author%>"><%=author%></option>
          <%}%>
        </select>
      </div>
      <div class="select_contener">
        <label for="label">Select Label</label>
        <select
          class="selectpicker"
          multiple
          data-live-search="true"
          aria-label="size 3 select example"
          value="<%=p_query != null ? p_query.labels: [] %>"
          name="labels[]"
        >
          <option value="Subtask">Subtask</option>
          <option value="Bug">Bug</option>
          <option value="Incident">Incident</option>
          <option value="Problem">Problem</option>
          <option value="Support">Support</option>
        </select>
      </div>
      <button type="submit" id="find_btn">
        Find
      </button>
    </form>
  </div>
  <div id="issue_list">
    <%for (issue of project_details.issues){%>
    <div class="isue_div">
      <h3><%= issue.title%></h3>
      <p><%= issue.description%></p>
      <div class="issue_footer">
        <div class="labels">
          <b>Labels: </b>
          <%for (label of issue.labels){%>
          <span class="badge bg-primary"> <%= label%> </span>
          <%}%>
        </div>
        <b>Creater: <%= issue.author%></b>
      </div>
    </div>
    <%}%>
  </div>
</section>

